body,html {
    margin: 75px;
    padding: 25px;
    background-color: #373d31;
}

#clock {
    font-size: 72px;
    color: #ffd500;
}

.set-alarm-time {
    font-size: 25px;
    color: #a77c29;
}

.set-alarm {
    background-color: #004481;
}

.container {
    position: relative;
    margin-top: 50%;
    margin-left: 50%;
}

.space-filler {
    text-align: center;
    font-size: xx-large;
    color: #a77c29;
}
