body,html {
    margin: 0px;
    padding: 0px;
    background-color: #373d31;
}

#display {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    text-align: center;
}

#buttons {
    display: inline-block;
}

.set-alarm-time {
    color: #ffd500
}

.set-alarm {
    background-color: #004481;
}

.clear-button {
    background-color: #a77c29;
}